<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RyR Install</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "sheet/style.css"%}">
    {% comment %} <link rel="stylesheet" href="{%static "sheet/estilos.css"%}"> {% endcomment %}
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
</head>
<body>
    <div class="container">
        <header class="header">
             <a href="#">RYR INSTAL</a>
        </header>
        <aside>
            <nav class="nav">
                <ul class="list">
                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <img src="../static/sheet/images/dashboard.svg" class="list__img">
                            <a href="#" class="nav__link">Taller</a>
                            <img src="../static/sheet/images/arrow.svg" class="list__arrow">
                        </div>
                        <ul class="list__show">
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Calendario</a>
                            </li>
            
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Equipos</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <img src="../static/sheet/images/docs.svg" class="list__img">
                            <a href="#" class="nav__link">Caja</a>
                            <img src="../static/sheet/images/arrow.svg" class="list__arrow">
                        </div>
            
                        <ul class="list__show">
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Estado de Caja</a>
                            </li>
            
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Cierres</a>
                            </li>
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Movimientos</a>
                            </li>
                        </ul>
            
                    </li>
            
            
                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <img src="../static/sheet/images/stats.svg" class="list__img">
                            <a href="#" class="nav__link">Administracion</a>
                            <img src="../static/sheet/images/arrow.svg" class="list__arrow">
                        </div>

                        <ul class="list__show">
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Ventas</a>
                            </li>
            
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Compras</a>
                            </li>
            
                            
                        </ul>
                    </li>
            
                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <img src="../static/sheet/images/bell.svg" class="list__img">
                            <a href="#" class="nav__link">Inventario</a>
                            <img src="../static/sheet/images/arrow.svg" class="list__arrow">
                        </div>
            
                        <ul class="list__show">
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Productos</a>
                            </li>
            
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Servicios</a>
                            </li>
            
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Categorias</a>
                            </li>
                        </ul>
            
                    </li>
            
            
                    <li class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <img src="../static/sheet/images/message.svg" class="list__img">
                            <a href="#" class="nav__link">Contacto</a>
                            <img src="../static/sheet/images/arrow.svg" class="list__arrow">
                        </div>

                        <ul class="list__show">
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Clientes</a>
                            </li>
            
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Proveedores</a>
                            </li>
            
                            <li class="list__inside">
                                <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                            </li>
                        </ul>
                    </li>
            
                </ul>
            </nav>
        </aside>
        <main>
            <section class="services_area">
                <div class="overlay">
                    <a href="{% url 'hojas:services_lists' %}" class="title">Servicios</a>
                </div>
            </section>
            
        
            <section class="bills_area">
                <div class="overlay2">
                    <a href="{% url 'hojas:bills_lists' %}"class="title2">Facturas</a>
                </div>
            </section>
            <section class="presupuesto_area">
                <div class="overlay3">
                    <a href="{% url 'hojas:bills_lists' %}"class="title2">Presupuestos</a>
                </div>
            </section>
        </main>
    </div>
    <script src="../static/sheet/main.js"></script>
</body>
</html>

