<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RyR Install</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "sheet/style.css"%}">
    <link rel="stylesheet" href="{% static "sheet/style_header.css"%}">
</head>
<body>
    <div class="container">
        <header class="header">
            <ul class ="header__listItems">
                <li class="header__buttonHome">
                    <a href="#">RYR INSTAL</a>
                </li>
                <li class="header__buttonIngresarServicios">
                    <a href="{% url 'hojas:services_lists' %}">Ver servicios</a>
                </li>
                <li class="header__buttonIngresarServicios">
                    <a href="{% url 'hojas:add_service' %}">Ingresar Servicio</a>
                </li>
                <li class="header__buttonVerFacturas">
                    <a href="{% url 'hojas:bills_lists' %}">Ver Facturas</a>
                </li>
            </ul>
        </header>
        <aside>
            <h4>nashe</h4>
        </aside>
        <main>
            <section class="services_area">
                <div class="overlay">
                    <a href="{% url 'hojas:services_lists' %}" class="title">Servicios</a>
                </div>
            </section>
            
        
            <section class="bills_area">
                <div class="overlay2">
                    <a href="{% url 'hojas:bills_lists' %}"class="title2">Facturas</a>
                </div>
            </section>
            <section class="presupuesto_area">
                <div class="overlay3">
                    <a href="{% url 'hojas:bills_lists' %}"class="title3">Presupuestos</a>
                </div>
            </section>
        </main>
    </div>
</body>
</html>

