<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RyR Install</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "sheet/style_services.css"%}">
</head>
<body>
    <header class="header">
        <ul class ="header__listItems">
            <li class="header__buttonHome">
                <a href="{% url 'hojas:index' %}">Home</a>
            </li>
            <li class="header__buttonIngresarServicios">
                <a href="#">Ingresar Servicio</a>
            </li>
            <li class="header__buttonVerFacturas">
                <a href="#">Ver Facturas</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <aside class="filter_nav">
            <form action="#" method ="GET">
                <label for="pick_folder">Carpeta:</label>
                <select name="pick_folder" id="pick_folder">
                    <option value="destiempo">Destiempo</option>
                    <option value="aTiempo">A tiempo</option>
                </select>
                <br>
                <label for="time">Tiempo</label>
                <select name="time" id="time">
                    <option value="esta_semana">Esta semana</option>
                    <option value="este_mes">Este mes</option>
                </select> 
                
                <input type="text" name="hola">
                
                <input type="submit">
                
            </form>
        </aside>
        <section class="files-list">
            {% for  service in list_services %}
                <div class="file_container">
                    <a href=""><img src="../../static/sheet/images/pdf.svg" alt=""></a>
                </div>
            {% endfor %}
        </section>
    </div>
    
    
</body>
</html>