<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RyR Install</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "sheet/style_services.css"%}">
</head>
<body>
    <header class="header">
        <ul class ="header__listItems">
            <li class="header__buttonHome">
                <a href="{% url 'hojas:index' %}">RYR INSTAL</a>
            </li>
            <li class="header__buttonIngresarServicios">
                <a href="#">Ingresar Servicio</a>
            </li>
            <li class="header__buttonVerFacturas">
                <a href="{% url 'hojas:bills_lists' %}">Ver Facturas</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <aside class="filter_nav">
            <form action="#" method ="GET">
                <label for="pick_folder">Carpeta:</label>
                <select name="pick_folder" id="pick_folder">
                    <option value="sin_filtros">Sin filtro</option>
                    <option value="destiempo">Destiempo</option>
                    <option value="aTiempo">A tiempo</option>
                </select>
                <br>
                <label for="">Tiempo</label>
                <select name="time" id="time">
                    {%if time == "sin_filtros"%}
                        <option value="sin_filtros" selected> Sin filtro</option>
                    {%else%}
                        <option value="sin_filtros"> Sin filtro</option>
                    {%endif%}
                    {%if time == "last_week"%}
                        <option value="last_week" selected> Esta semana</option>
                    {%else%}
                        <option value="last_week"> Esta semana</option>
                    {%endif%}
                    {%if time == "this_month"%}
                        <option value="this_month" selected> Este mes</option>
                    {%else%}
                        <option value="this_month"> Este mes</option>
                    {%endif%}
                </select>
                <h2>Facturado</h2>
                <input type="radio" name= "nashe"><br>
                <input type="submit" value="Acceder">

                <button>Ingrese el servicio</button>
                
            </form>
        </aside>
        <section class="files-list">
            {% for  service in list_services %}
                <div class="file_container">
                    <a href=""><img src="../../static/sheet/images/pdf.svg" alt=""></a>
                </div>
            {% endfor %}
        </section>
    </div>
    
    
</body>
</html>